.tableContainer {
    font-family: Arial, sans-serif;
}

table {
    font-family: "Montserrat", sans-serif;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;

}

thead {
    background-color: #007bff;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


h2 {
    text-align: center;
    margin-bottom: 15px;
}

.sortable {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.controls>label {
    font-family: "Montserrat", sans-serif;
    margin: 15px 10px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    gap: 12px;

}

.searchInput {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 250px;
}