.sendBtn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    background-color: #0a250b;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: flex;
    font-size: 16px;
    margin: 0 auto 24px;
    cursor: pointer;
    border-radius: 4px;
}

.sendBtn:hover {
    background-color: #0e2f0e;
}

