.sortableHeader {
    cursor: pointer;
}

.headerCell {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    line-height: 1;
}

.alignLeft {
    justify-content: flex-start;
}

.alignRight {
    justify-content: flex-end;
    width: 100%;
    text-align: right;
}